@import './base.css';
@import "tailwindcss";
/* @plugin "daisyui"; */

@theme {
  --breakpoint-*:initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
    
  --color-primary:#FF6A41;
  --color-black-20:#12121233;
  --color-black-50:#12121280;
  --color-black-100:#121212FF;
  --color-white-20:#FFFFFF33;
  --color-white-50:#FFFFFF80;
  --color-white-100:#FFFFFFFF;

}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a{
  text-decoration: none;  
  transition: 0.4s; 
}
